
body, html {
   height:100%;
   width:100%;
}

body {
   overflow-y: scroll;
   background: #ffffff;
   margin: 0px;
   padding: 0px;
   font-family: 'HelveticaNeue-Thin', 'Open Sans', sans-serif; 
   font-weight: 300; 
}

#main-container {
   height:100%;
   width:100%;
}

/* side navigation */

#nav { 
   float: left;
   width:200px;
}

#nav a { 
   margin:auto;
   text-align: center;
   color: #000;
   display: block;
   text-align: center;
   padding:25px 0;
   font-size: 25px;
}

#nav li { 
}

#nav-about.nav-active {
   background: #000000;
   color: #fff;
}

#nav-about:hover {
   background: #000000;
   color: #fff;
}

#nav-woodwork.nav-active {
   background: #FF4A4A;
   color: #fff;
}

#nav-woodwork:hover {
   background: #FF4A4A;
   color: #fff;
}

#nav-websites.nav-active {
   background: #28C00B;
   color: #fff;
}

#nav-websites:hover {
   background: #28C00B;
   color: #fff;
}

#nav-apps.nav-active {
   background: #2B87EB;
   color: #fff;
}

#nav-apps:hover {
   background: #2B87EB;
   color: #fff;
}

#nav-hardware.nav-active {
   background: #E91CE1;
   color: #fff;
}

#nav-hardware:hover {
   background: #E91CE1;
   color: #fff;
}

#nav-photography.nav-active{
   background: #00E7B0;
   color: #fff;
}

#nav-photography:hover {
   background: #00E7B0;
   color: #fff;
}

#nav-code.nav-active {
   background: #E7DE00;
   color: #fff;
}

#nav-code:hover {
   background: #E7DE00;
   color: #fff;
}

#logo {
   padding: 20px 0 10px 0;
   margin: auto;
   max-width: 100px;
}

#logo a{
   padding: 0;
}

.menu {
}

/* Main content */
#content {
   position: relative;
   left: 200px;
   width:900px;
   padding: 40px 40px 0 20px;
}

#content p {
   font-size: 23px;
   line-height: 33px;
}

#content a{
   color: #CE0063;
}

#content a:hover {
   color: #21BB46;
}

.page {
   padding-left: 80px;
   padding-top: 80px;
}

.page p{
   padding-top:0;
   margin-top:0;
}


.post {
   padding-bottom: 60px;
   overflow: auto;
}

.posts-brief {
   padding: 0px 0px 50px 0px;
   margin: 0px 0px 0px 0px;
   overflow: auto;
}

.posts-brief p{
   padding: 0px;
   margin: 0px;
   overflow: auto;
}

.post-intro {
   float: left;
   width: 150px;
   padding-right: 20px;
   position: relative;
   text-align: center;
}

.post-desc {
   color: #a7a7a7;
   padding-top: 15px;
}
.post-desc ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.post-desc li{
   line-height: 27px;
}

.post-content {
   float: left;
   width: 700px;
   display: block;
}
.post-clear {
   clear: both;
}

.post a{
	font-size: 25px;
}

.post-logo {
   display: block;
   margin: auto;
}

.post-logo img{
	width:60px;
}

a {
	text-decoration: none;
}


h1 {
	font-size: 46px;
   font-weight: 300;
   margin: 0 0;
   color: #000000;
}

h2 {
	font-size: 34px;
   font-weight: 300;
   margin: 0 0;
   color: #55a4b4;
}

.textual-email {
   color: #CE0063;
}


/* Animations */
.view-animate-container {
   position:relative;
}

.view-animate {
   position:absolute;
   top:0;
   left:0;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s;
}

.view-animate.ng-enter {
  opacity:0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity:100;
}
.view-animate.ng-leave.ng-leave-active {
  opacity:0;
}

/* End Animation */

/* Gallery */

.gallery-links {
  margin: 0 0 30px 0;
}
.gallery-links a{
  margin: 0 0px 0px 4px;
}
.is-loading {
  background-color: #F7F7F7;
  min-width: 100px;
}

li.is-loading img,
li.is-broken img {
  opacity: 0;
}

.gallery-container {
  margin: 20px 0 60px 0;
  overflow: auto;
}

.gallery-container img {
  -webkit-transition: opacity 1.1s;
     -moz-transition: opacity 1.1s;
      -ms-transition: opacity 1.1s;
          transition: opacity 1.1s;
}

.gallery-container ul {
  margin: 0;
  padding: 0;
}

.gallery-container li {
  height: 140px;
  display: block;
  float: left;
  list-style: none;
  margin: 0 5px 5px 0;
  background-position: center center;
  background-repeat: no-repeat;
}

.gallery-container img {
  height: 140px;
}

.post-gallery {
  margin: 20px 0 60px 0;
  height: 104px;
}

.post-gallery img {
  -webkit-transition: opacity 1.2s;
     -moz-transition: opacity 1.2s;
      -ms-transition: opacity 1.2s;
          transition: opacity 1.2s;
}

.post-gallery ul {
  margin: 0;
  padding: 0;
}

.post-gallery li {
  height: 100px;
  display: block;
  float: left;
  list-style: none;
  margin: 0 5px 5px 0;
  background-position: center center;
  background-repeat: no-repeat;
}

.post-gallery img {
  height: 100px;
}

