<div class="page">
   <p>My name is Eithan Shavit. I am a Software Engineer at Arista Networks.</p>
   <p>My wife says I drive her crazy constantly taking things apart, and building new things around the house. It speaks to my curiousity about how things work.</p>
   <p>In the little time that I have between work and personal life, I create small projects. The purpose of these is to learn and gain experience in new technologies.</p>
   <p>I'm always looking for new mediums through which to express my creativity, especially through technology. Building this website is another way for me to dive in and learn something new, as I used AngularJS which is new to me.</p>
   <p>I trained as an Electrical Engineer and was always fascinated about writing software, so some of these projects combine the two worlds.</p>
   <p><span>Please contact me at</span><span class="textual-email"> EithanShavit at gmail dot com</span>.</p>
</div>
