<div class="post">
   <div class="post-intro">
      <div class="post-logo">
         <img alt="" ng-src="img/flickr.png"/>
      </div>
      <div class="post-desc">
         <ul>
            <li>2005-2014</li>
         </ul>
      </div>
   </div>
   <div class="post-content">
      <h1>flickr</h1>
         <p>I love taking photos around the world.<br>Take a look at some of them on my <a target="_blank" href="http://www.flickr.com/photos/eithanshavit/sets/">Flickr page</a></p>
   </div>
</div>
<div class="post">
   <div class="post-intro">
      <div class="post-logo">
         <img alt="" ng-src="img/octobiwan.png"/>
      </div>
      <div class="post-desc">
         <ul>
            <li>2011-2014</li>
         </ul>
      </div>
   </div>
   <div class="post-content">
      <h1>github</h1>
      <p>Check out my GitHub at <a target="_blank" href="https://github.com/oogiyot?tab=repositories">github.com/oogiyot</a></p>
   </div>
</div>
