<div class="gallery-links">
   Albums: 
   <a ng-click="scrollTo('asia')">Asia</a>
   <a ng-click="scrollTo('israel')">Israel</a>
   <a ng-click="scrollTo('more')">More</a>
</div>
<a id="asia"><h1>Some photos I took while travelling in Asia</h1></a>
<div class="images-loaded-container">
   <div class="gallery-container">
      <ul>
         <li class="is-loading" ng-repeat="image in galleryEastImages" images-loaded>
            <a class="fancybox" href="{{image.url}}" rel="lightbox[{{image.category}}]"><img ng-src="{{image.thumbUrl}}" alt="" /></a>
         </li>
      </ul>
   </div>
</div>
<a id="israel"><h1>From around Israel</h1></a>
<div class="images-loaded-container">
   <div class="gallery-container">
      <ul>
         <li class="is-loading" ng-repeat="image in galleryIsraelImages" images-loaded>
            <a class="fancybox" href="{{image.url}}" rel="lightbox[{{image.category}}]"><img ng-src="{{image.thumbUrl}}" alt="" /></a>
         </li>
      </ul>
   </div>
</div>
<a id="more"><h1>Some more photos</h1></a>
<div class="images-loaded-container">
   <div class="gallery-container">
      <ul>
         <li class="is-loading" ng-repeat="image in galleryMoreImages" images-loaded>
            <a class="fancybox" href="{{image.url}}" rel="lightbox[{{image.category}}]"><img ng-src="{{image.thumbUrl}}" alt="" /></a>
         </li>
      </ul>
   </div>
</div>
<h2>Even more on my <a target="_blank" href="http://www.flickr.com/photos/eithanshavit/sets/">Flickr page</a>.</h2>
<br>
<br>
<br>
<script>
   $(document).ready(function() {
      $('.fancybox').fancybox({
        padding: 0,
        helpers: {
          overlay: {
            locked: false
          },
          thumbs : {
            width: 50,
            height: 50,
          }
        }
      });
   });
</script>
