<h1>Some random photos</h1><p>This is a collection of some photos I took while travelling in Asia. I'll upload more albums in the near future.<br>
You can also check out my <a target="_blank" href="http://www.flickr.com/photos/eithanshavit/sets/">Flickr page</a>.</p>
<div id="gallery-container">
   <ul>
      <li class="is-loading" ng-repeat="image in galleryImages">
         <a class="fancybox" href="{{image.url}}" rel="lightbox[{{image.category}}]"><img ng-src="{{image.thumbUrl}}" alt="" /></a>
      </li>
   </ul>
</div>
<script>
   $(function() {
      var container = $('#gallery-container');
      var imgLoad = imagesLoaded( container );
      imgLoad.on( 'progress', onProgress );

      // triggered after each item is loaded
      function onProgress( imgLoad, image ) {
        // change class if the image is loaded or broken
        image.img.parentNode.className = image.isLoaded ? '' : 'is-broken';
      }

   });

</script>
<script type="text/javascript">
   $(document).ready(function() {
      $('.fancybox').fancybox({
        padding: 0,
        helpers: {
          overlay: {
            locked: false
          },
          thumbs : {
            width: 50,
            height: 50,
          }
        }
      });
   });
</script>
